# "local" | "docker", if you choose local mode, make sure to download the dependencies as explained in the documentation on github

deployment_method="local"

# LOCAL DEPLOYMENT
# adress of the API
api_adress="127.0.0.1:80"  # don't change anything for now


# DOCKER DEPLOYMENT
# docker-config if deployment_method is docker
docker_name="fastapi-query-reranking"
docker_version="1.0.0"
