# "local" | "docker", if you choose local mode, make sure to download the dependencies as explained in the documentation on github

deployment_method="local"

# ANY DEPLOYMENT
# adress of the API
API_host_name="127.0.0.1"
API_port=8001


# DOCKER DEPLOYMENT
# docker-config if deployment_method is docker
docker_name="fastapi-search-reranking"
docker_version="1.0.0"
