# "local" | "docker", if you choose local mode, make sure to download the dependencies as explained in the documentation on github

deployment_method="local"

# ANY DEPLOYMENT
# adress of the API
API_host_name="127.0.0.1"
API_port=8002


# DOCKER DEPLOYMENT
# docker-config if deployment_method is docker
reranking_docker_name="fastapi-search-reranking"
reranking_docker_version="1.0.0"
